.float {
  position: fixed;
  z-index: 9999;

  background-color: var(--mainColor);
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease-in-out;
}

.float:hover {
  transform: translateY(-0.25rem);
}

.top {
  top: 5vh;
}

.bottom {
  bottom: 5vh;
}

.right {
  right: 5vw;
}

.left {
  left: 5vw;
}