:root {
  --mainColor: #fff159;
  --bkgColor: #ebebeb;
  --fontColor: #333;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
    Roboto, Arial, sans-serif;

  /*  Prevent user selection */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}

body {
  background-color: var(--bkgColor);
  color: var(--fontColor);
}

a {
  color: hsl(200, 100%, 50%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:visited {
  color: hsl(200, 100%, 50%);
}

abbr {
  cursor: help;
}

button {
  cursor: pointer;
}

header {
  background: var(--mainColor);
}
