:root {
  --mainColor: #fff159;
  --bkgColor: #ebebeb;
  --fontColor: #333;
  --slider-duration-ms: 500ms;
  --header-height: 60px;
}

:root body.noAnimations {
  --slider-duration-ms: 0ms;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
    Roboto, Arial, sans-serif;

  /*  Prevent user selection */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}

body {
  background-color: var(--bkgColor);
  color: var(--fontColor);
  overflow: hidden scroll;
}

a {
  color: hsl(200, 100%, 50%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:visited {
  color: hsl(200, 100%, 50%);
}

abbr {
  cursor: help;
}

summary, button, a {
  cursor: pointer;
}

header {
  background: var(--mainColor);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  overflow: hidden;
}

section {
  padding-top: calc(var(--header-height) + 20px);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ol li::marker {
  font-family: 'Courier New', Courier, monospace;
}